*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1;
}

body,
html {
    height: 100%;
}

ul[class],
ol[class] {
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: #35353D;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
    font-size: 1px;
}

body {
    color: #35353D;
    font-family: Involve;
    font-size: 16rem;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1012rem;
    width: 100%;
}

.highlight {
    color: #AEB2BB;
}

