*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1;
}

body,
html {
    height: 100%;
}

ul[class],
ol[class] {
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: #35353D;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    font-size: 1px;
    scrollbar-width: none
}

body {
    color: #35353D;
    font-family: Involve;
    font-size: 16rem;
    font-weight: 500;
    overflow-x: hidden;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1032rem;
    padding: 0 10rem;
    width: 100%;
}

.highlight {
    color: #AEB2BB;
}

@media (max-width: 768px) {
    .container {
        max-width: 658rem;
        padding: 0 5rem;
    }
}

@media (max-width: 660px) {
    .container {
        max-width: 530rem;
    }
}

